*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

/* NAVIGATION */
body{
    overflow-x: hidden;

}
img{
    vertical-align: middle;
    border-style: none;
}
.img-body{
    position: absolute;
    right: -170px;
    top: -70px;
    width: 63%;
}



#navbar{

    position: relative;
    z-index: 1;
    background-color: white;
    padding: 20px 80px;
    height: 80px;
    
}
.navbar-content{
    align-items: center;
    flex-grow: 1;
}

.navbar-content ul{
    display: flex;
    justify-content: center;
    padding-left: 95px;
    list-style: none;
    

}
    
.nav-item{
    
        display: block;
        padding: 13px 13px;
       
}
    
#navbar ul li a {
    font-family: 'Ubuntu', sans-serif;
    color: #a39898;
    text-decoration: none;
}

#navbar ul li a:hover {
    color:black;
    
}

#navbar .container{
    display: flex;

}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.button{
    font-family: 'Ubuntu', sans-serif;
    background-color:#05134c;
    padding: 13px 30px;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
    margin-left: 145px;

}

.navbar-logo{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
    }


/* INTRO-SECTION */


#introsection{
   
    background-color: white;
    
    color: black;
    height: 650px;

}
.container-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.main-content{
    margin-top: 5rem;
    position: relative;
    
}

.heading-para{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0px;
    margin-right: -96px;
    margin-left: 80px;
    width: 51%;
    color: grey;
    margin-bottom: 53px
}

h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 42px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-top: 35px;
    color: #393c3a;

}

.phn-img{
    transform: translateY(-409px);
    margin-left: 744px;
}

/* DETAIL-SECTION*/

#detailsection{
    background-color: #f7f4f4;
    color: black;
    height: 590px;
    padding-top: 40px;
    /* margin: 0 -20px */

}

.whysection{
    margin: 15px 80px;
    width: 56%;
   
}

h2{
    font-size: 42px;
    margin-bottom: 20px;
    color: #393c3a;
    font-family: 'Ubuntu', sans-serif;
}

.second-para{
    font-family: 'Ubuntu', sans-serif;
    color: grey;
    margin: 24px 10px;
    width: 63%;
}

.second-content{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.row-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 62px;
    padding: 18px 40px;
}

.service{
    padding: 0 29px;
}

.service h4{
    font-size: 24px;
    margin: 26px 0;
    font-weight: 200;
    color: black;
}

.service p{
    font-family: 'Ubuntu', sans-serif;
    color: #aba7a7;
}

/* ARTICLE-SECTION */

#articlesection{
    background-color: white;
    color: rgb(143, 32, 32);
    height: 650px;
    padding-top: 17px;

}

.row-article{
    display: flex;
    margin-right: 100px;
    margin-left: 116px;
    padding: 14px 0px
}

.row-article img{
    height: 165px;
    width: 225px;
    
}
#articlesection h2{
    font-family: 'Ubuntu', sans-serif;
    margin: 50px 116px
}
h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    color: gray;
    
    font-weight: 400;
}

h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    padding: 22px 0px;
    margin-left: 0;
    margin-right: 15px;
    color: #3a3535;
    padding-right: 6px;
    font-weight: 500
}

.article-para{
    font-family: 'Ubuntu', sans-serif;
    margin-right: 52px;
    margin-left: 0px;
    color: gray;
    font-size: 14px;

}

/* FOOTER */

#footer{
    background-color : darkgray;
    color: white;
    height: 200px;
    font-size: 16px;
}

.row-footer{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 80px;
    padding: 48px 12px;
}

.firstlink a{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    
    text-decoration: none;
    padding: 4px 63px;
    margin-bottom: 5px;
    color: white;
}


.firstlink a:hover{
    color: black;
}

.secondlink a{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    
    text-decoration: none;
    padding: 4px 3px;
    margin-bottom: 5px;
    color: white;
}
.secondlink a:hover{
    color: black;
}
.footer-social-icon{
    margin-top: 41px;
    margin-left: 12px;
}

.social-icon{
    padding: 0 4px;
}
/* 
.footer-text a {
    margin-left: 520px;
} */

.footer-text p{
    font-family: 'Ubuntu', sans-serif;
    margin-top: -57px;
    margin-left: 882px;
    cursor: pointer;
}

.burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    margin: 3px 3px;
    background-color: grey;
    height: 4px;
}

@media(max-width: 680px){

    body{
        overflow-x: hidden;
    }
    
    
    /* NAVIGATION */
    
    .navbar-content ul {
        flex-direction: column;
    
    
    }
    
    #navbar .button{
        display: none;
    }
    .img-body{
        right: -68px;
        top: -165px;
        width: 104%;
    }
    
    .phn-img{
        position: absolute;
        width: 55%;
    right: 178px;
    top: 356px
    }
    
    /* INTRO-SECTION */
    h1{
        
    margin-top: 275px;
    text-align: center;
    margin-left: 50px;
    margin-right: 97px
    }
    
    .heading-para{
        margin-left: 128px;
    margin-bottom: 50px;
    text-align: center;
    }

    #introsection .button{
        margin-left: 225px;
    }
    /* DETAIL-SECTION */
    
    #detailsection{
        height: 100%;
        text-align: center;
    }
    
    .second-content{
        width: 127%;
    }

    .second-para{
        margin: 26px 89px;
        width: 61%
    }

    h2{
        font-size: 41px;
    }
    .row-section{
        flex-direction: column;
    }

    .service {
        padding: 15px 32px;
    }
    
    
    /* ARTICLE-SECTION */
    
    #articlesection{
        height: 100%;
        text-align: center;
    }
    
    .row-article{
        flex-direction: column;
    }

    .article{
        margin-bottom: 30px;
    }

    #articlesection h2{
        margin: 10px 83px;
    }
    
    .article img{
        height: 130px;
        width: 250px;
    }
    /* Footer */
    
    #footer{
        height: 100%;
        text-align: center;
    }
    
    .logo-footer{
       margin-right: 61px;
    }

    .row-footer{
        flex-direction: column;
    }

    .footer-social-icon {
        margin-top: 30px;
        margin-right: 33px;
        margin-bottom: 30px;
    }

    .footer-text p{
           margin-top: 16px;
    margin-left: 5px
    }
    
    .firstlink a{
        padding: 4px 186px;
    }

    .secondlink a{
        padding: 4px 183px;
    }
    .burger{
        display: block;
    }
    
    .nav-h{
        height: 270px;
    }
    
    .vclass{
        opacity: 0;
    }
    
    
}